/* 
-COLORI
bianco nuvole: #f9fbfa
rosa chiaro: #f9d2d7
rosa scuro: #ffb7c3
rosa cipria: #ffdee5
viola ametista: #dec4e7
rosso pastello: #ff78a0
azzurro chiaro: #c5e8ea
azzurro scuro: #6dcfea
giallo: #fbf0b8
verde: #b5eecd
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif; 
}

body{
    background-color: #ffdee5;
    overflow-y: scroll;
}

header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

#header-top{
    height: 50%;
    display: flex;
    align-items: center;
    background-color: #fbf0b8;
}

#header-top span{
    font-size: 30px;
    margin-left: 10px;
}

#header-bottom{
    height: 50%;
    display: flex;
    background-color: #6dcfea;
    justify-content: center;
    align-items: center;
}

#header-bottom > *{
    margin: 0 5px;
}

select {
  width: 100%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  background-color: #ffdee5;
}

#box-container{
    max-width: 1000px;
    padding: 20px;
    border-radius: 6px;
    margin: 10px auto;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9fbfa;
}

.box{
    width: 130px;
    height: 80px;
    padding: 10px;
    background-color: #c5e8ea;
    border-radius: 6px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 6px 6px 6px;
}

.box i{
    height: 25px;
    width: 25px;
    background-color: #f9fbfa;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    margin: 5px;
}

.box span{
    font-size: 78%;
    text-transform: uppercase;
}

.boxName{
    font-size: 110%;
}

.blue{
    color: #1cb5df;
}

.orange{
    color: #ff906f;
}

.green{
    color: #2de48e;
}